backend/__pycache__/
database/__pycache__/
frontend/__pycache__/
agent/__pycache__/
installer/__pycache__/
requirements.txt
.env
backend/schemas/__pycache__/
backend/models/__pycache__/
backend/core/__pycache__/
backend/api/__pycache__/
backend/api/v1/__pycache__/
backend/api/v1/endpoints/__pycache__/

PrismTrackAgent/build/

PrismTrackAgent/PrismTrackAgent.spec
PrismTrackAgent/PrismTrackAgent.pyc
PrismTrackAgent/PrismTrackAgent.pyo
PrismTrackAgent/PrismTrackAgent.pyd
PrismTrackAgent/PrismTrackAgent.pyw
PrismTrackAgent/PrismTrackAgent.pyz
PrismTrackAgent/PrismTrackAgent.pyz.pyc
PrismTrackAgent/PrismTrackAgent.pyz.pyo
PrismTrackAgent/PrismTrackAgent.pyz.pyd
PrismTrackAgent/PrismTrackAgent.pyz.pyw
PrismTrackAgent/__pycache__/
